<div class="card">
  <div class="card-header">Configurar Consulta</div>
  
  <div class="card-body card-block">

    <form method="POST" id="query-form" 
      action="/edit-query-config">

      <div class="card-body card-block">              

        <div class="row form-group">
          
          <div class="col col-md-3">
            <label>Tempo de Duração</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="number" class="form-control" name="queryTime" min="10"
              id="time" placeholder="Somente números" required 
              <% if(currentQueryTime != null) {
                %> value="<%=currentQueryTime()%>" <%
              } %>
              >
            <small id="timeHelp" class="form-text text-muted">
            Quantos minutos aproximadamente dura sua consulta</small>
          </div>
        </div>  

        <hr> <hr>
        <!--day-->
        <% for(var day in days) {%>
        <% currentDay = getCurrentDay(day)%>
        <div class="row form-group"> 
          
          <div class="col col-md-3">
            <label class="form-control" style="text-align: center">
              <%=days[day]%> 
              
            </label>
          </div>

          <div class="col-12 col-md-9">
            
            <div class="row">
              <div class="col col-md-3">
                Manhã
              </div>
              <div class="col col-md-5">
                <p>
                  <input type="time" name="morningInit<%=day%>" id="morningInit<%=day%>"                            
                    <% if(currentDay != null) {
                      %> value="<%=currentDay.morningInit%>" <%
                    } %>
                    >
                  <small class="form-text text-muted">
                    Início</small> 
                </p>
                <p>
                  <input type="time" name="morningEnd<%=day%>" id="morningEnd<%=day%>"
                  <% if(currentDay != null) {
                    %> value="<%=currentDay.morningEnd%>" <%
                  } %>
                  >
                  <small class="form-text text-muted/">
                    Fim</small> 
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col col-md-3">
                Tarde
              </div>
              <div class="col col-md-5">
                <p>
                  <input type="time" name="afternoonInit<%=day%>" id="afternoonInit<%=day%>"
                  <% if(currentDay != null) {
                    %> value="<%=currentDay.afternoonInit%>" <%
                  } %>
                  >
                  <small class="form-text text-muted">
                    Início</small> 
                </p>
                <p>
                  <input type="time" name="afternoonEnd<%=day%>" id="afternoonEnd<%=day%>"
                  <% if(currentDay != null) {
                    %> value="<%=currentDay.afternoonEnd%>" <%
                  } %>
                  >
                  <small class="form-text text-muted/">
                    Fim</small> 
                </p>
              </div>
            </div>
            
          </div>
          
        </div> 

        <hr>

        <% } %>
        <!--//day--> 
        <div class="form-group">
          <button type="button" onclick="Employee.editConfigQuery()" 
            class="btn btn-primary">Enviar</button>
        </div>              
      </div>
    </form>
    
  </div>
</div>