<div class="card">
  <div class="card-header">Detalhes do Agendamento</div>
  <div class="card-body card-block">
    
    <form method="POST" action="/cancel-scheduling">
      <input type="hidden" name="schedulingId" value="<%=scheduling.id%>">
      <div class="card-body card-block">  

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="test">Data</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="text" class="form-control" name="date" readonly 
            value="<%=portugueseDateTime(scheduling._datetime)%>">
          </div>                    
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="test">Telefone do Cliente</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="text" class="form-control" name="clientPhone" readonly 
            value="<%=scheduling.clientPhone%>">
          </div>                    
        </div>

        <div class="row form-group">
          <div class="col col-md-3">
            <label for="test">Email do Cliente</label>
          </div>
          <div class="col-12 col-md-9">
            <input type="email" class="form-control" name="clientEmail" readonly 
            value="<%=scheduling.clientEmail%>">
          </div>                    
        </div>
        
        <div class="row form-group">
          <div class="col col-md-3">
            <label for="address">Observações do Cliente</label>
          </div>
          <div class="col-12 col-md-9">
            <textarea class="form-control" name="comments" 
              rows="4" readonly><%=scheduling.comments%></textarea>
          </div>
        </div>

        <hr>

        <% if(isItCancellable && !scheduling.canceled) {%>
        <div class="form-group">
          <a href="/send-whatsapp-message?shedulingId=<%=scheduling.id%>" class="btn btn-info">Lembrete Via WhatSapp</a>
          <button type="submit" class="btn btn-danger">Cancelar</button>
        </div>   
        <% } %>  

      </div>
    </form>
    
  </div>
                
</div>