<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Payments Today</title>
  <meta name="description" content="Sufee Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%-include('./include/top-links.ejs')%>

</head>

<body>


    <!-- Left Panel -->

    <%-include('./include/left-panel.ejs')%>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

      <!-- Header-->
      <%-include('./include/header.ejs')%>
      <!-- Header-->

      <div class="content mt-3">

        <div class="panel" style="text-align: center">

            <% if(defaultings.length > 0) {%>
              <% for(let data of defaultings) { %>
                <div class="card">
                  <div class="card-header"><%=data.username%></div>
                  <div class="card-body">
                    <table class="table">
                      <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Creation Date</th>
                        <th>Payment Day</th>                       
                      </tr>                      
                      <tr>
                        <td><%=data.id%></td>
                        <td><%=data.email%></td>
                        <td><%=data.creationDate.toLocaleString()%></td>
                        <td><%=data.paymentDay%></td>
                      </tr>
                    </table>
                  </div>
                  <div class="card-footer">
                    <a class="btn btn-secondary" 
                      style="color: #fff"
                      href="/it-is-regular?userId=<%=data.id%>">
                      It's Regular
                    </a>
                    <%if(data.blocked == 0) {%>
                    <a class="btn btn-secondary"
                      style="color: #fff" 
                      href="/block?userId=<%=data.id%>">
                      Block
                    </a>
                    <%}%>
                  </div>
                  
                </div>
              <% } %>
            <% } else { %>
                <div class="alert alert-info">
                    <strong>Info</strong> No defaultings
                </div>
            <% } %>
          
        </div>   


        </div> <!-- .content -->

        
    </div><!-- /#right-panel -->

    <%-include('./include/bottom-links.ejs')%>       

</body>

</html>
