<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/5d0a8c3950.js"></script>

  <title>Bem-Vindo!</title>

  <style>
    .c1 {
     color: <%=colors.color1%>;
     font-weight: bold;
    }
    .c2 {
      color: <%=colors.color2%>
    }
  </style>


</head>

<body>

  <div class="container text-center">
    <h1 class="c1">Meus Agendamentos</h1>
  </div>




  <div class="section-container">
    <div class="container text-center">

    <% if(typeof message != 'undefined' && message != '') { %>
    <div class="col-sm-12">
      <div class="alert  alert-success alert-dismissible fade show" role="alert">
        <span class="badge badge-pill badge-success">Success</span> <%=message%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <% } %>

    <div class="container">
        <% if(typeof mySchedulings != 'undefined'
          && Object.keys(mySchedulings).length > 0) { %>

            <% for(scheduling of mySchedulings) { %>
            <form method="post" action="/core-cancel-scheduling">
				    <input type="hidden" name="websiteUser" value="<%=scheduling.website%>">
                <input type="hidden" name="schedulingId" value="<%=scheduling.schedulingId%>">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm"
                            style="text-align: center"
                            value="Agendado com <%=scheduling.employeeName%>" readonly>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm"
                            style="text-align: center"
                            value="<%=scheduling._datetime.toLocaleString()%>" readonly>
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="form-control form-control-sm btn btn-danger" value="Cancelar"/>
                    </div>
                </div>
            </form>
            <hr>
            <% } %>

        <% } else { %>
            <div class="alert alert-warning">
              <strong>Aviso!</strong> Você não tem nenhum agendamento.
              <a href="#" class="alert-link" onClick="javascript:history.go(-1)">Voltar</a>.
            </div>
        <% } %>

    </div>

    </div>
  </div>
  </div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>

<!-- footer -->

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>


<script type="text/javascript" src="core/main.0cf8b554.js"></script></body>

</html>
