<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/5d0a8c3950.js"></script>
  <style>
    .c1 {
     color: <%=colors.color1%>;
     font-weight: bold;
    }
    .c2 {
      color: <%=colors.color2%>
    }
  </style>
</head>
<body>

  <div class="container text-center">
    <h1 class="c1">Agendamento</h1>
  </div>

  <hr>
  <div class="section-container c1">
    <div class="container text-center">

      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2 class="c2">Verificar Meus Agendamentos</h2>
           </br>
          <form method="post" action="/my-schedulings">
            <p>
              <input type="email" placeholder="Email"
                name="clientEmail" id="clientEmail">
            </p>
            <br>
            <p>
              <input type="submit" class="btn-primary" value="Enviar">
            </p>
          </form>

        </div>
      </div>

      <hr>

      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2 class="c2">Agendar Online</h2>
          <p>Seja bem-vindo ao nosso sistema de agendamento on-line.
          <br>Por favor, escolha um de nossos colaboradores.</p>
        </div>
      </div>

      <hr>

    </div>

  </div>
  <!-- Employeers -->
  <div class="container">
    <div class="row">
      <% for(employee of EmployeersServices) {%>
      <div class="col-sm-4">
        <a href="/schedule1?employeeId=<%=employee.id%>">
          <img src="admin/images/profile_images/<%=employee.image%>" alt=""
          width="200px;">
        </a>
        <h3><a href="/schedule1?employeeId=<%=employee.id%>" class="c1"><%=employee.name%></a></h3>
        <h4>
          <% for(index in employee.services) {  %>
          <strong class="c2"><%=employee.services[index]%>|</strong>
          <% } %>
        </h4>
        <p><%=employee.aboutMe%></p>
        <p>
          <a href="https://facebook.com/" class="social-round-icon fa-icon" title="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/" class="social-round-icon fa-icon" title="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/" class="social-round-icon fa-icon" title="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </p>
      </div>
      <% } %>
    </div>
  </div>
  <!--/ Employeers -->
  <hr>

  <footer class="footer-container text-center">
    <div class="container" style="padding: 10;">
      <div class="row">
        <div class="col">
          Desenvoldido por <a href="#">W3_Software</a>
        </div>
        <div class="col">
          <a href="https://www.facebook.com/w3SoftwareNetBr"
            class="social-round-icon fa-icon" title="" target="_blank">
            Visite nossa página no facebook
          </a>
        </div>
        <div class="col">
          <a href="#">Whatsapp</a>
        </div>
      </div>
    </div>
  </footer>
  <hr>
</body>
</html>
