<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-BR">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Combinado</title>
  <meta name="description" content="Sufee Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>  
  <%-include('./include/top-links-table.ejs')%>
</head>

<body onload="callNotifications()">


    <!-- Left Panel -->

    <%-include('./include/left-panel.ejs')%>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

      <!-- Header-->
      <%-include('./include/header.ejs')%>
      <!-- Header-->

      <div class="content mt-3" id="divResponse">

        <div class="panel" style="text-align: center">
          <% if(paymentRequests.length > 0) { %>
            <%for(pr of paymentRequests)%>
            <div class="card">
              <div class="card-header bg-primary text-white">Requisição de Pagamento</div>
              <div class="card-body">
                <h4><%=pr.message%></h4>
                <h4>Para efetuar o pagamento
                  <a href="<%=pr.paymentLink%>" class="btn btn-success">Click Aqui</a></h4>
              </div>
              <div class="card-footer"><h4>Dúvidas ou sugestões: w3software@gmail.com</h4></div>
            </div>

          <% } else { %>
            

            


          <% } %>

        </div>
      </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <%-include('./include/bottom-links-table.ejs')%>

</body>

</html>
