<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bem Vindo!</title>
  <meta name="description" content="Sufee Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%-include('./include/top-links.ejs')%>

</head>

<body onload="callNotifications()">


    <!-- Left Panel -->

    <%-include('./include/left-panel.ejs')%>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

      <!-- Header-->
      <%-include('./include/header.ejs')%>
      <!-- Header-->

      <div class="breadcrumbs">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1>Gerar Link</h1>
            </div>
          </div>
        </div>
        
      </div>

      <div class="content mt-3">
              

         <!-- The text field -->
        <div class="alert" style="text-align: center">
            <p>Esse é o link compartilhável. Copie e cole esse código no seu site. 
            Você também pode compartilhar nas suas redes sociais ou enviar 
            por email</p>
            <br>
            <input type="text" readonly  
            value="<%=link%>" id="myInput" 
            style="text-align: center" class="form-control">
            <br>
            <!-- The button used to copy the text -->
            <button class="btn btn-primary"  onclick="myFunction()">Copiar</button> 
        </div> 
            
       
        

        </div> <!-- .content -->
    </div><!-- /#right-panel -->
    <script>
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copiado com sucesso!");
        } 
    </script>
    <%-include('./include/bottom-links.ejs')%>       

</body>

</html>
