<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bem Vindo!</title>
  <meta name="description" content="Sufee Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%-include('./include/top-links.ejs')%>

</head>

<body onload="callNotifications()">


    <!-- Left Panel -->

    <%-include('./include/left-panel.ejs')%>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

      <!-- Header-->
      <%-include('./include/header.ejs')%>
      <!-- Header-->

      <div class="content mt-3">
        <% if(typeof message != 'undefined' && message != '') { %>
        <div class="col-sm-12">
          <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <%=message%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <% } %>          

        <div class="card">
          <div class="card-header">Novo Serviço</div>
          <div class="card-body card-block">

            <form method="POST" 
              enctype="multipart/form-data" 
              action="/new-service">

              <div class="card-body card-block">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="serviceName" class=" form-control-label">Nome do Serviço</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" name="name" placeholder="Nome do Serviço" class="form-control"
                      required>
                    <span class="form-text text-muted">
                    Digite o nome do novo serviço</span>
                  </div>
                </div>
              </div>              
              
              <hr>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>              

            </form>
            
          </div>
        </div> 
        
           


    </div> <!-- .content -->
  </div><!-- /#right-panel -->

  <%-include('./include/bottom-links.ejs')%>       

</body>

</html>
