<div class="card">

	<div class="card-header">
		<strong>Meus Dados</strong>
	</div>				

	<div class="card-body card-block">

		<form action="/edit-profile" id="profile-form" 
			method="post" class="form-horizontal"
				enctype="multipart/form-data">

			<input type="hidden" name="id" value="<%=user.id%>">
			<input type="hidden" name="currentImage" value="<%=user.image%>">

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="username" class=" form-control-label">Nome</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="text" name="username" placeholder="Nome" class="form-control"
						value="<%=user.username%>" required />
					<span class="form-text text-muted">Por favor, digite seu nome</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col col-md-3">
					<label for="email" class=" form-control-label">Email</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="email" name="email" placeholder="Email" class="form-control"
						value="<%=user.email%>" />
					<span class="form-text text-muted">Esse email é o seu login</span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="pwd" class=" form-control-label">Senha</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="password" name="pwd" placeholder="Senha" class="form-control"
						value="<%=user.pwdDecrypted%>" required />
					<span class="form-text text-muted">Por favor, digite sua senha</span>
				</div>
			</div>

			<% if(typeof user.image == 'undefined' || user.image == null) { %>
				<div class="row form-group">
					<div class="col col-md-3">
						<label for="image" class=" form-control-label">Imagem</label>
					</div>
					<div class="col-12 col-md-9">
						<input type="file" name="image" class="form-control"/>
						<span class="form-text text-muted">
							Por favor, selecione uma imagem</span>
					</div>
				</div>
			<% } else { %>	
				<div class="row form-group">
					<div class="col col-md-3">
						<label for="image" class=" form-control-label">Imagem</label>
					</div>
					<div class="col-12 col-md-9">
						<img src="admin/images/profile_images/<%=user.image%>" width="100px;" />
						<hr>
						<label for="image" class="form-control-label">Substituir Imagem</label>
						<hr>
						<input type="file" name="image"/>
						<span class="form-text text-muted">
							Por favor, selecione uma imagem se você deseja substituir a imagem atual</span>
					</div>
				</div>	
			<% } %>

			<hr>
			
			<div class="row form-group">
				<div class="col col-md-3">
					<label for="companyName" class=" form-control-label">Nome da Empresa</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="text" name="companyName" placeholder="Digite o nome da sua empresa"
					class="form-control" value="<%=user.companyName%>"/>
					<span class="form-text text-muted">
						O nome da empresa aparecará na sua página de agendamentos e 
						nas mensagens enviadas ao cliente</span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="companyEmail" class=" form-control-label">Email da Empresa</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="email" name="companyEmail" placeholder="Digite o email da sua empresa"
					class="form-control" value="<%=user.companyEmail%>"/>
					<span class="form-text text-muted">
						O email da empresa aparecará na sua página de agendamentos e 
						nas mensagens enviadas ao cliente</span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="website" class=" form-control-label">Site</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="url" name="website" placeholder="Digite o site da sua empresa"
					class="form-control" value="<%=user.website%>"/>
					<span class="form-text text-muted">
						https://www.minhaempresa.com.br</span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="color1" class=" form-control-label">Côr Principal</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="text" name="color1" placeholder="Digite o código hexadecimal da côr principal"
					class="form-control" value="<%=user.color1%>" maxlength="7"/>
					<span class="form-text text-muted">
						Ex: #4565aa. 
						<a href="#" data-toggle="modal" data-target="#colorExplanation" title="O que é isso?">
							<i class="fa fa-question-circle-o" aria-hidden="true"></i>
						</a>											
					</span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="color2" class=" form-control-label">Côr Secundária</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="text" name="color2" placeholder="Digite o código hexadecimal da côr secundária"
					class="form-control" value="<%=user.color2%>" maxlength="7"/>
					<span class="form-text text-muted">
						Ex: #aa45bb.
						<a href="#" data-toggle="modal" data-target="#colorExplanation" title="O que é isso?">
							<i class="fa fa-question-circle-o" aria-hidden="true"></i>
						</a>
					</span>
				</div>
			</div>

		</form>
	</div>

	<div class="card-footer">
		<button type="button" onclick="User.editProfile()" 
			class="btn btn-primary btn-sm">
			Editar
		</button>
	</div>		

</div>


<!-- The Modal -->
<div class="modal" id="colorExplanation">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cores</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
				Você pode definir duas cores (côr 1 e côr 2) para que sua página de agendamentos tenha 
				a cara da sua empresa.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn-primary" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>